<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>app.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/app.css" type="text/css">
    <!-- <title>
        <%= htmlWebpackPlugin.options.title %>
    </title> -->
    <title>
        Smart Farm Indonesia
    </title>
</head>
<style>
    html {
        width: 100%;
        height: 100%;
        position: relative;
    }
</style>

<body>

    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <section class="h-100 w-100" style="
				box-sizing: border-box;
				position: relative;
				background-image: linear-gradient(to right, rgba(255, 252, 250, 1), rgba(255, 255, 255, 1));
			">
        <div id="app"></div>
    </section>
    <!-- built files will be auto injected -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</html>