<template>
  <HeaderVue />
  <!-- <div class="home">
        <img alt="Vue logo" src="../assets/logo.png">
        <HelloWorld msg="Welcome to Your Vue.js App"/>
      </div> -->

          <banner-home-vue />

          <CarouselContentVue />


          <visi-misi-vue />


          <products-vue/>
 
    
          <FooterVue />



          <!-- CONTENT -->
</template>

<script>
// @ is an alias to /src

// import HelloWorld from '@/components/HelloWorld.vue'
import HeaderVue from "../components/Header.vue";
import FooterVue from "../components/Footer.vue";
import BannerHomeVue from "../components/BannerHome.vue";
import VisiMisiVue from '../components/VisiMisi.vue';
import CarouselContentVue from '../components/CarouselContent.vue';
import ProductsVue from '../components/Products.vue';

export default {
  name: "Home",
  components: {
    // HelloWorld,
    HeaderVue,
    FooterVue,
    BannerHomeVue,
    VisiMisiVue,
    CarouselContentVue,
    ProductsVue,
  },
};
</script>

<style>
body{
  width: 100%;
  height: 100%;
}
</style>

