<template>
  <div class="home">
    <h1>This is an Profile page</h1>
  </div>
</template>


<script>
// @ is an alias to /src

import 'bootstrap/dist/css/bootstrap.css'

export default {
  name: 'Profile',
  components: {
    // HelloWorld
  }
}
</script>
