<template>
  <!-- <img src="../assets/Carousel/terbuka.jpg " alt="" />
  {{ photo[0].src }} -->
  <!-- <div v-for="photos in photo" :key="photos.src">
        <div>
          <img class="poto" :src="photos.src" alt="" />
          {{ photos.src }}
        </div>
      </div> -->
  <div
      class="content-3-1 container-xxl mx-auto position-relative"
      style="font-family: 'Poppins', sans-serif"
    >
    <carousel :items-to-show="1" :autoplay="5000" :wrap-around="true">
      <Slide  :key="slide">
          <div class="col-lg-11">
            <img class="poto" src="../assets/Carousel/terbuka.jpg" alt="" />
          </div>
          <!-- <div>
            <img class="poto" src="../assets/Carousel/tertutup.jpeg" alt="" />
          </div>
          <div>
            <img class="poto" src="../assets/Carousel/semi.jpg" alt="" />
          </div> -->
      </Slide>
      <Slide  :key="slide">
        
          <div class="col-lg-11">
            <img class="poto" src="../assets/Carousel/tradisional.jpg" alt="" />
          </div> 
      </Slide>
      <Slide  :key="slide">
          <div class="col-lg-11">
            <img class="poto" src="../assets/Carousel/tertutup.png" alt="" />
          </div>

      </Slide>
      <Slide  :key="slide">
        
          <div class="col-lg-11">
            <img class="poto" src="../assets/Carousel/semi.jpg" alt="" />
          </div> 
      </Slide>
    

      <template #addons>
        <navigation />
        <pagination />
      </template>
    </carousel>
  </div>
</template>

<script>
// If you are using PurgeCSS, make sure to whitelist the carousel CSS classes
import "vue3-carousel/dist/carousel.css";
import { Carousel, Slide, Pagination, Navigation } from "vue3-carousel";

export default {
  name: "carrousel",
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },
  data() {
    return {
      photo: [
        { src: "../assets/Carousel/terbuka.jpg" },
        { src: "../assets/Carousel/tertutup.jpeg" },
        { src: "../assets/Carousel/semi.jpg" },
      ],
    };
  },
};
</script>
<style scoped>
.poto {
  width: 100%;
  height: 400px;
}
</style>