<template>
  <div>
    <div
      class="content-3-1 container-xxl mx-auto position-relative"
      style="font-family: 'Poppins', sans-serif"
    >
      <div
        class="
          content-3-1
          col-lg-12
          align-items-lg-start align-items-center
          text-lg-start text-center
          align-items-center
        "
        style="font-family: 'Poppins', sans-serif"
      >
        <!-- <img id="hero" class="img-fluid" src="http://api.elements.buildwithangga.com/storage/files/2/assets/Content/Content3/Content-3-1.png" alt="" /> -->
        <center><h2 class="title-text">Produk Kami</h2></center>
        <carousel v-if="windowWidth > 770" :items-to-show="3" :autoplay="5000" :wrap-around="true">
          <Slide :key="slide">
            <div class="pt">
              <img
                class="poto"
                src="../assets/Product/Tempat_pakan_ayam.png"
                alt=""
              />
              <br />
              <br />
              <br />
              <br />
              <h3
                class="
                  title-caption
                  align-items-center
                  justify-content-lg-start justify-content-center
                "
              >
                Tempat Pakan Ayam
              </h3>
              <br />

              <a
                href="https://wa.me/6285258661466?text=Saya%20ingin%20memesan%20Tempat%20Pakan%20Ayam%2C%20apakah%20produk%20ini%20tersedia%3F"
                class="btn btn-learn text-white"
                >Order Sekarang</a
              >
            </div>
          </Slide>
          <Slide :key="slide">
            <div class="pt">
              <img
                class="poto"
                src="../assets/Product/Tempat_pakan_baby_chick.png"
                alt=""
              />
              <br />
              <br />
              <br />
              <br />
              <h3
                class="
                  title-caption
                  align-items-center
                  justify-content-lg-start justify-content-center
                "
              >
                Tempat Pakan Baby Chick
              </h3>
              <br />

              <a
                href="https://wa.me/6285258661466?text=Saya%20ingin%20memesan%20Tempat%20Pakan%20Baby%20Chick%2C%20apakah%20produk%20ini%20tersedia%3F"
                class="btn btn-learn text-white"
                >Order Sekarang</a
              >
            </div>
          </Slide>

          <Slide :key="slide">
            <div class="pt">
              <img
                class="poto"
                src="../assets/Product/Tempat_minum_otomatis_1_set.png"
                alt=""
              />
              <br />
              <br />
              <br />
              <br />
              <h3
                class="
                  title-caption
                  align-items-center
                  justify-content-lg-start justify-content-center
                "
              >
                Tempat Minum Otomatis (1 Set)
              </h3>
              <br />

              <a
                href="https://wa.me/6285258661466?text=Saya%20ingin%20memesan%20Tempat%20Minum%20Otomatis%2C%20apakah%20produk%20ini%20tersedia%3F"
                class="btn btn-learn text-white"
                >Order Sekarang</a
              >
            </div>
          </Slide>

          <Slide :key="slide">
            <div class="pt">
              <img
                class="poto"
                src="../assets/Product/Mesin_pemanas_kandang.png"
                alt=""
              />
              <br />
              <br />
              <br />
              <br />
              <h3
                class="
                  title-caption
                  align-items-center
                  justify-content-lg-start justify-content-center
                "
              >
                Mesin Pemanas Kandang
              </h3>
              <br />

              <a
                href="https://wa.me/6285258661466?text=Saya%20ingin%20memesan%20Mesin%20Pemanas%20Kandang%2C%20apakah%20produk%20ini%20tersedia%3F"
                class="btn btn-learn text-white"
                >Order Sekarang</a
              >
            </div>
          </Slide>

          <Slide :key="slide">
            <div class="pt">
              <img
                class="poto"
                src="../assets/Product/Pemanas_gas_olec.png"
                alt=""
              />
              <br />
              <br />
              <br />
              <br />
              <h3
                class="
                  title-caption
                  align-items-center
                  justify-content-lg-start justify-content-center
                "
              >
                Pemanas Gas Olec
              </h3>
              <br />
              <a
                href="https://wa.me/6285258661466?text=Saya%20ingin%20memesan%20Pemanas%20Gas%20Olec%2C%20apakah%20produk%20ini%20tersedia%3F"
                class="btn btn-learn text-white btn-sm"
                >Order Sekarang</a
              >
            </div>
          </Slide>
          <Slide :key="slide">
            <div class="pt">
              <img class="poto" src="../assets/Product/Fan_blower.png" alt="" />
              <br />
              <br />
              <br />
              <br />
              <h3
                class="
                  title-caption
                  align-items-center
                  justify-content-lg-start justify-content-center
                "
              >
                Fan Blower
              </h3>
              <br />

              <a
                href="https://wa.me/6285258661466?text=Saya%20ingin%20memesan%20Fan%20Blower%2C%20apakah%20produk%20ini%20tersedia%3F"
                class="btn btn-learn text-white"
                >Order Sekarang</a
              >
            </div>
          </Slide>

          <template #addons>
            <navigation />
            <pagination />
          </template>
        </carousel>
        <carousel v-if="windowWidth > 500" :items-to-show="1" :autoplay="5000" :wrap-around="true">
          <Slide :key="slide">
            <div class="pt">
              <img
                class="poto"
                src="../assets/Product/Tempat_pakan_ayam.png"
                alt=""
              />
              <br />
              <br />
              <br />
              <br />
              <h3
                class="
                  title-caption
                  align-items-center
                  justify-content-lg-start justify-content-center
                "
              >
                Tempat Pakan Ayam
              </h3>
              <br />

              <a
                href="https://wa.me/6285258661466?text=Saya%20ingin%20memesan%20Tempat%20Pakan%20Ayam%2C%20apakah%20produk%20ini%20tersedia%3F"
                class="btn btn-learn text-white"
                >Order Sekarang</a
              >
            </div>
          </Slide>
          <Slide :key="slide">
            <div class="pt">
              <img
                class="poto"
                src="../assets/Product/Tempat_pakan_baby_chick.png"
                alt=""
              />
              <br />
              <br />
              <br />
              <br />
              <h3
                class="
                  title-caption
                  align-items-center
                  justify-content-lg-start justify-content-center
                "
              >
                Tempat Pakan Baby Chick
              </h3>
              <br />

              <a
                href="https://wa.me/6285258661466?text=Saya%20ingin%20memesan%20Tempat%20Pakan%20Baby%20Chick%2C%20apakah%20produk%20ini%20tersedia%3F"
                class="btn btn-learn text-white"
                >Order Sekarang</a
              >
            </div>
          </Slide>

          <Slide :key="slide">
            <div class="pt">
              <img
                class="poto"
                src="../assets/Product/Tempat_minum_otomatis_1_set.png"
                alt=""
              />
              <br />
              <br />
              <br />
              <br />
              <h3
                class="
                  title-caption
                  align-items-center
                  justify-content-lg-start justify-content-center
                "
              >
                Tempat Minum Otomatis (1 Set)
              </h3>
              <br />

              <a
                href="https://wa.me/6285258661466?text=Saya%20ingin%20memesan%20Tempat%20Minum%20Otomatis%2C%20apakah%20produk%20ini%20tersedia%3F"
                class="btn btn-learn text-white"
                >Order Sekarang</a
              >
            </div>
          </Slide>

          <Slide :key="slide">
            <div class="pt">
              <img
                class="poto"
                src="../assets/Product/Mesin_pemanas_kandang.png"
                alt=""
              />
              <br />
              <br />
              <br />
              <br />
              <h3
                class="
                  title-caption
                  align-items-center
                  justify-content-lg-start justify-content-center
                "
              >
                Mesin Pemanas Kandang
              </h3>
              <br />

              <a
                href="https://wa.me/6285258661466?text=Saya%20ingin%20memesan%20Mesin%20Pemanas%20Kandang%2C%20apakah%20produk%20ini%20tersedia%3F"
                class="btn btn-learn text-white"
                >Order Sekarang</a
              >
            </div>
          </Slide>

          <Slide :key="slide">
            <div class="pt">
              <img
                class="poto"
                src="../assets/Product/Pemanas_gas_olec.png"
                alt=""
              />
              <br />
              <br />
              <br />
              <br />
              <h3
                class="
                  title-caption
                  align-items-center
                  justify-content-lg-start justify-content-center
                "
              >
                Pemanas Gas Olec
              </h3>
              <br />
              <a
                href="https://wa.me/6285258661466?text=Saya%20ingin%20memesan%20Pemanas%20Gas%20Olec%2C%20apakah%20produk%20ini%20tersedia%3F"
                class="btn btn-learn text-white"
                >Order Sekarang</a
              >
            </div>
          </Slide>
          <Slide :key="slide">
            <div class="pt">
              <img class="poto" src="../assets/Product/Fan_blower.png" alt="" />
              <br />
              <br />
              <br />
              <br />
              <h3
                class="
                  title-caption
                  align-items-center
                  justify-content-lg-start justify-content-center
                "
              >
                Fan Blower
              </h3>
              <br />

              <a
                href="https://wa.me/6285258661466?text=Saya%20ingin%20memesan%20Fan%20Blower%2C%20apakah%20produk%20ini%20tersedia%3F"
                class="btn btn-learn text-white"
                >Order Sekarang</a
              >
            </div>
          </Slide>

          <template #addons>
            <navigation />
            <pagination />
          </template>
        </carousel>
        <!-- <a href="https://wa.me/6285258661466?text=Saya%20ingin%20memesan%20Fan%20Blower%2C%20apakah%20produk%20ini%20tersedia%3F" class="btn btn-learn text-white">Order Sekarang</a> -->
      </div>
      <div
        class="d-flex flex-lg-row flex-column align-items-center"
        style="font-family: 'Poppins', sans-serif"
      ></div>
    </div>
  </div>
</template>
<script>
import "vue3-carousel/dist/carousel.css";
import { Carousel, Slide, Pagination, Navigation } from "vue3-carousel";

export default {
  name: "product",
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },
  data() {
    return {
      windowWidth: window.innerWidth,
    };
  },
};
</script>
<style scoped>
@media (min-width: 450px) {
  .poto {
    width: 60%;
    min-height: 75px;
  }
  .pt {
    margin: 10px;
    /* padding: 20px; */
  }
}
@media (min-width: 576px) {
  .poto {
    width: 55%;
    min-height: 100px;
  }
  .pt {
    margin: 10px;
    /* padding: 20px; */
  }
}

@media (min-width: 768px) {
  .poto {
    width: 100%;
    min-height: 100px;
  }
  .pt {
    /* margin: 10px; */
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .poto {
    width: 100%;
    min-height: 200px;
  }
  .pt {
    margin: 10px;
    /* padding: 20px; */
  }
}
</style>