<template>
  <div>
    <div
      class="content-3-1 container-xxl mx-auto position-relative visi"
      style="font-family: 'Poppins', sans-serif"
    >
      <div class="d-flex flex-lg-row flex-column align-items-center">
        <div class="row">
          <!-- Left Column -->
          <div
            class="
              col-lg-6
              left-column
              d-flex
              flex-column
              align-items-lg-start align-items-center
              text-lg-start text-center
            "
          >
            <!-- <img id="hero" class="img-fluid" src="http://api.elements.buildwithangga.com/storage/files/2/assets/Content/Content3/Content-3-1.png" alt="" /> -->
            <h2 class="title-text">Visi</h2>
            <ul class="p-0 m-0">
              <li class="list-unstyled" style="margin-bottom: 2rem">
                <!-- <h4
                class="
                  title-caption
                  d-flex
                  flex-lg-row flex-column
                  align-items-center
                  justify-content-lg-start justify-content-center
                "
              >

              </h4> -->
                <p class="text-caption" style="margin: 5px">
                  Memperkuat dan mengembangkan industri peternakan dan pertanian
                  di Indonesia melalui teknologi smart farm<br
                    class="d-sm-inline d-none"
                  />
                </p>
                {{ windowWidth }}
              </li>
              <div class="gambar1" v-if="windowWidth > 992">
                <!-- {{ windowWidth }} -->
                <br>
                <br>
                <center>

                  <img class="roket" src="../assets/roket.png" alt="">
                </center>
              </div>
            </ul>
          </div>

          <!-- Right Column -->
          <div
            class="
              col-lg-6
              right-column
              d-flex
              flex-column
              align-items-lg-start align-items-center
              text-lg-start text-center
            "
          >
            <h2 class="title-text">Misi</h2>
            <ul class="p-0 m-0">
              <li class="list-unstyled" style="margin-bottom: 2rem">
                <h4
                  class="
                    title-caption
                    d-flex
                    flex-lg-row flex-column
                    align-items-center
                    justify-content-lg-start justify-content-center
                  "
                >
                  <span
                    class="
                      circle
                      text-white
                      d-flex
                      align-items-center
                      justify-content-center
                    "
                  >
                    1
                  </span>
                  Ramah Lingkungan
                </h4>
                <p class="text-caption">
                  Mengembangkan teknologi peternakan dengan menggunakan konsep yang ramah lingkungan<br class="d-sm-inline d-none" />
                </p>
              </li>
              <li class="list-unstyled" style="margin-bottom: 2rem">
                <h4
                  class="
                    title-caption
                    d-flex
                    flex-lg-row flex-column
                    align-items-center
                    justify-content-lg-start justify-content-center
                  "
                >
                  <span
                    class="
                      circle
                      text-white
                      d-flex
                      align-items-center
                      justify-content-center
                    "
                  >
                    2
                  </span>
                  Teknologi 
                </h4>
                <p class="text-caption">
                  Menjadikan smart poultry low budget di pada kandang
                  konvensional Membuat teknologi pertanian berbasis IoT<br
                    class="d-sm-inline d-none"
                  />
                  Untuk petani konvensional.
                </p>
              </li>
              <li class="list-unstyled" style="margin-bottom: 4rem">
                <h4
                  class="
                    title-caption
                    d-flex
                    flex-lg-row flex-column
                    align-items-center
                    justify-content-lg-start justify-content-center
                  "
                >
                  <span
                    class="
                      circle
                      text-white
                      d-flex
                      align-items-center
                      justify-content-center
                    "
                  >
                    3
                  </span>
                  Akses Selamanya
                </h4>
                <p class="text-caption">
                  Anda butuh bantuan kami?<br class="d-sm-inline d-none" />
                  Kami siap membantu setiap saat<br class="d-sm-inline d-none" />
                  Silahkan menghubungi kami
                </p>
              </li>
            </ul>
            <div class="d-flex align-items-center justify-content-cente">

            <a href="https://wa.me/6285258661466" class="btn btn-learn text-white">Info Lebih lanjut</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "VisiMisi",
  data() {
    return {
      web : false,
      windowWidth :  window.innerWidth,
    }
  },
  mounted() {
    
  },
  computed: {
  },
};
</script>
<style scoped>
.roket{
  width: 50%;
  height: 20%;
}
.gambar1{

  margin-right: 10%;
}
.visi{
  animation: main-fade 2s forwards;
  animation-delay: 1.6s;
}
</style>