/* body {
    width: 100%;
    height: 100%;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header-3-2 .modal-backdrop.show {
    background-color: #000;
    opacity: 0.6;
}

.header-3-2 .modal-item.modal {
    top: 2rem;
}

.header-3-2 .navbar {
    padding: 2rem 2rem;
}

.header-3-2 .navbar-light .navbar-nav .nav-link {
    font: 300 0.875rem/1.5rem Poppins, sans-serif;
    color: #303030;
    padding: 0rem 1.25rem 0rem 0rem;
    margin-right: 0;
    margin-left: 0;
}

.header-3-2 .navbar-light .navbar-nav .nav-link:hover {
    font: 500 0.875rem/1.5rem Poppins, sans-serif;
    color: #243142;
}

.header-3-2 .navbar-light .navbar-nav .active {
    position: relative;
    width: fit-content;
}

.header-3-2 .navbar-light .navbar-nav .active>.nav-link,
.header-3-2 .navbar-light .navbar-nav .nav-link.active,
.header-3-2 .navbar-light .navbar-nav .nav-link.show,
.header-3-2 .navbar-light .navbar-nav .show>.nav-link {
    font-weight: 500;
}

.header-3-2 .navbar-light .navbar-toggler-icon {
    background-image: urlurl("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header-3-2 .btn:focus,
.header-3-2 .btn:active {
    outline: none !important;
}

.header-3-2 .btn-fill {
    font: 500 0.875rem/1.25rem Poppins, sans-serif;
    border: 1px solid #ff7468;
    background-color: #ff7468;
    border-radius: 999px;
    padding: 0.75rem 1.5rem;
    transition: 0.3s;
}

.header-3-2 .btn-fill:hover {
    background-color: #ff8378;
    border: 1px solid #ff8378;
}

.header-3-2 .btn-no-fill {
    font: 500 0.875rem/1.25rem Poppins, sans-serif;
    color: #303030;
    padding: 0.75rem 2rem;
}

.header-3-2 .btn-no-fill:hover {
    color: #243142;
}

.header-3-2 .modal-item .modal-dialog .modal-content {
    border-radius: 8px;
}

.header-3-2 .responsive li {
    padding: 1rem;
}

.header-3-2 .hr {
    padding-left: 2rem;
    padding-right: 2rem;
}

.header-3-2 .hero {
    padding: 4rem 2rem;
}

.header-3-2 .left-column {
    margin-bottom: 0.75rem;
    width: 100%;
}

.header-3-2 .title-text-big {
    font: 600 2.25rem / normal Poppins, sans-serif;
    margin-bottom: 1.25rem;
    color: #243142;
}

.header-3-2 .text-caption {
    font: 300 1rem/1.5rem Poppins, sans-serif;
    letter-spacing: 0.025em;
    color: #303030;
    margin-bottom: 5rem;
}

.header-3-2 .btn-get {
    font: 600 1rem/1.5rem Poppins, sans-serif;
    padding: 1rem 2rem;
    border-radius: 999px;
    border: 1px solid #ff7468;
    background-color: #ff7468;
    transition: 0.3s;
}

.header-3-2 .btn-get:hover {
    background-color: #ff8378;
    border: 1px solid #ff8378;
}

.header-3-2 .btn-outline {
    font: 400 1rem/1.5rem Poppins, sans-serif;
    padding: 1rem 1.5rem;
    border-radius: 999px;
    background-color: transparent;
    border: 1px solid #5d6e86;
    color: #5d6e86;
    transition: 0.3s;
}

.header-3-2 .btn-outline:hover {
    border: 1px solid #ff7468;
    color: #ff7468;
}

.header-3-2 .btn-outline:hover div path {
    fill: #ff7468;
}

.header-3-2 .btn-outline:hover div rect {
    stroke: #ff7468;
}

.header-3-2 .right-column {
    width: 100%;
}

.header-3-2 .hero-right {
    right: 2rem;
    bottom: 0;
}

.header-3-2 .card-outer {
    padding-left: 0;
    z-index: 1;
}

.header-3-2 .card {
    transition: 0.4s;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    padding: 1.25rem;
    border-radius: 0.75rem;
    width: 100%;
    margin-top: 2.5rem;
    box-shadow: -4px 4px 10px 0px rgba(224, 224, 224, 0.25);
}

.header-3-2 .card:hover {
    top: -3px;
    left: -3px;
    transition: 0.4s;
    box-shadow: -4px 8px 15px 0px rgba(167, 167, 167, 0.25);
}

.header-3-2 .card-name {
    font: 600 1rem/1.5rem Poppins, sans-serif;
    margin-bottom: 0.25rem;
}

.header-3-2 .card-job {
    font: 300 0.75rem/1rem Poppins, sans-serif;
    color: #aaa6a6;
    margin-bottom: 0;
}

.header-3-2 .card-price-left {
    font: 500 1rem/1.5rem Poppins, sans-serif;
    margin-bottom: 0.125rem;
    color: #ff7468;
}

.header-3-2 .card-caption {
    font: 300 0.75rem/1rem Poppins, sans-serif;
    color: #aaa6a6;
    margin-bottom: 0;
}

.header-3-2 .card-price-right {
    font: 500 1rem/1.5rem Poppins, sans-serif;
    margin-bottom: 0.125rem;
    color: #1b8171;
}

.header-3-2 .btn-hire {
    font: 600 1rem/1.5rem Poppins, sans-serif;
    padding: 0.75rem 4rem;
    border-radius: 0.75rem;
    margin-bottom: 0.125rem;
    border: 1px solid #ff7468;
    background-color: #ff7468;
    transition: 0.3s;
}

.header-3-2 .btn-hire:hover {
    background-color: #ff8378;
    border: 1px solid #ff8378;
}

.header-3-2 .form {
    border-radius: 999px;
    background-color: #fff3f2;
    box-sizing: border-box;
    font-size: 14px;
    padding: 0rem 1rem;
    padding-right: 0.5rem;
    outline: none;
}

.header-3-2 .form div input[type="text"] {
    background-color: #fff3f2;
    box-sizing: border-box;
    font-size: 14px;
    padding: 0rem 0.5rem;
    outline: none;
    width: 100%;
}

.header-3-2 .center-search {
    bottom: 0.5rem;
}

@media (min-width: 576px) {
    .header-3-2 .modal-item .modal-dialog {
        max-width: 95%;
        border-radius: 12px;
    }
    .header-3-2 .navbar {
        padding: 2rem;
    }
    .header-3-2 .title-text-big {
        font-size: 3rem;
        line-height: 1.2;
    }
}

@media (min-width: 768px) {
    .header-3-2 .navbar {
        padding: 2rem 4rem;
    }
    .header-3-2 .hr {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .header-3-2 .hero {
        padding: 4rem;
    }
    .header-3-2 .left-column {
        margin-bottom: 3rem;
    }
    .header-3-2 .hero-right {
        right: 4rem;
    }
    .header-3-2 .card {
        margin-left: auto;
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .header-3-2 .navbar-light .navbar-nav .active:before {
        content: "";
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;
        height: 0px;
        width: 80%;
        /* or 100px */
        border-bottom: 2px solid #ff7468;
    }
    .header-3-2 .navbar {
        padding: 2rem 6rem;
    }
    .header-3-2 .navbar-light .navbar-nav .nav-link {
        padding: 0;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .header-3-2 .navbar-light .navbar-nav .active:before {
        width: 40%;
    }
    .header-3-2 .hr {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .header-3-2 .hero {
        padding: 4rem 6rem 5rem;
    }
    .header-3-2 .left-column {
        width: 50%;
        margin-bottom: 0;
    }
    .header-3-2 .title-text-big {
        font-size: 3.75rem;
        line-height: 1.25;
    }
    .header-3-2 .right-column {
        width: 50%;
    }
    .header-3-2 .hero-right {
        right: 6rem;
    }
    .header-3-2 .card-outer {
        padding-left: 4rem;
    }
    .header-3-2 .center-search {
        left: 48%;
        top: 50%;
        bottom: auto;
        transform: translate(-48%, -50%);
    }
    .header-3-2 .form {
        width: 340px;
    }
}

@media (max-width: 1023px) {
    .header-3-2 .form div input[type="text"] {
        width: 100%;
    }
}


/* CONTENT */

.content-3-1 .btn:focus,
.content-3-1 .btn:active {
    outline: none !important;
}

.content-3-1 {
    padding: 5rem 2rem;
}

.content-3-1 .img-hero {
    width: 100%;
    margin-bottom: 3rem;
}

.content-3-1 .right-column {
    width: 100%;
}

.content-3-1 .title-text {
    font: 600 1.875rem/2.25rem Poppins, sans-serif;
    margin-bottom: 2.5rem;
    letter-spacing: -0.025em;
    color: #121212;
}

.content-3-1 .title-caption {
    font: 500 1.5rem/2rem Poppins, sans-serif;
    margin-bottom: 1.25rem;
    color: #121212;
}

.content-3-1 .circle {
    font: 500 1.25rem/1.75rem Poppins, sans-serif;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1.25rem;
    border-radius: 9999px;
    background-color: #ffbf56;
}

.content-3-1 .text-caption {
    font: 400 1rem/1.75rem Poppins, sans-serif;
    letter-spacing: 0.025em;
    color: #565656;
}

.content-3-1 .btn-learn {
    font: 600 1rem/1.5rem Poppins, sans-serif;
    padding: 1rem 2.5rem;
    background-color: #ff7c57;
    transition: 0.3s;
    letter-spacing: 0.025em;
    border-radius: 0.75rem;
}

.content-3-1 .btn-learn:hover {
    background-color: #ff9779;
    transition: 0.3s;
}

@media (min-width: 768px) {
    .content-3-1 .title-text {
        font: 600 2.25rem/2.5rem Poppins, sans-serif;
    }
}

@media (min-width: 992px) {
    .content-3-1 .img-hero {
        width: 50%;
        margin-bottom: 0;
    }
    .content-3-1 .right-column {
        width: 50%;
    }
    .content-3-1 .circle {
        margin-right: 1.25rem;
        margin-bottom: 0;
    }
}


/* FOOTER */

.footer-2-1 .list-space {
    margin-bottom: 1.25rem;
}

.footer-2-1 .footer-text-title {
    font: 600 1.5rem Poppins, sans-serif;
    margin-bottom: 1.5rem;
}

.footer-2-1 .list-menu {
    color: #c7c7c7;
    text-decoration: none !important;
}

.footer-2-1 .list-menu:hover {
    color: #555252;
}

.footer-2-1 hr.hr {
    margin: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-2-1 .border-color {
    color: #c7c7c7;
}

.footer-2-1 .footer-link {
    color: #c7c7c7;
}

.footer-2-1 .footer-link:hover {
    color: #555252;
}

.footer-2-1 .social-media-c:hover circle,
.footer-2-1 .social-media-p:hover path {
    fill: #555252;
}

.footer-2-1 .footer-info-space {
    padding-top: 3rem;
}

.footer-2-1 .list-footer {
    padding: 5rem 1rem 3rem 1rem;
}

.footer-2-1 .info-footer {
    padding: 0 1rem 3rem;
}

@media (min-width: 576px) {
    .footer-2-1 .list-footer {
        padding: 5rem 2rem 3rem 2rem;
    }
    .footer-2-1 .info-footer {
        padding: 0 2rem 3rem;
    }
}

@media (min-width: 768px) {
    .footer-2-1 .list-footer {
        padding: 5rem 4rem 6rem 4rem;
    }
    .footer-2-1 .info-footer {
        padding: 0 4rem 3rem;
    }
}

@media (min-width: 992px) {
    .footer-2-1 .list-footer {
        padding: 5rem 6rem 6rem 6rem;
    }
    .footer-2-1 .info-footer {
        padding: 0 6rem 3rem;
    }
}


/* body {
    width: 100%;
    height: 100%;
} */